nav {
  width: 100%;
  font-size: 3rem;
  color: #fff;
  text-shadow: 4px 4px 10px rgb(56, 56, 56);
  margin-bottom: 50px;
  background-color: rgb(97, 84, 12);
  opacity: 0.85;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 4px 4px 10px rgb(56, 56, 56);
}

a {
  color: whitesmoke;
}

a:hover {
  color: #58ddf5;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
}

ul {
  display: flex;
  align-items: center;
}

/* @media only screen and (max-width: 750px) {
  #cur-sco, #top-sco {
    font-size: 2rem;
  }
} */